<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Список товаров магазина @ViewBag.ShopName</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-5 col-lg-5 bold">
                Наименование товара
            </div>
            <div class="col-xs-7 col-lg-7 bold">
                Описание
            </div>
        </div>
        @foreach (var c in ViewBag.Items)
        {
            <div class="row">
                <div class="col-xs-5 col-lg-5">
                    @c.Name
                </div>
                <div class="col-xs-7 col-lg-7">
                    @c.Description
                </div>
            </div>
            }
    </div>
</div>