
@{
    ViewBag.Title = "NotFound";
}

<h2 align="center">HTTP Error 404 - Not Found</h2>
<div class="h3">
    <p>Запрашиваемая вами страница не найдена. Для возврата на главную страницу воспользуйтесь кнопкой "Home" 
    или кликните стрелку "Назад" в вашем браузере </p>
</div>

